/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// padding
$padding-within-div: 14px;
$padding-btwn-section: 24px;
$padding-btwn-sides: 14px;
$padding-btwn-elements: 8px;
$margin-btwn-elements: 8px;
$margin-btwn-section: 24px;

// colors
$dark-blue: #005F9E;
$light-blue: #2D8BC9;
$grey: #707070;
$red: #982411;
$white: #FFFFFF;

// font size
$jumbo-font: 24px;
$large-font: 18px;
$normal-font: 14px;
$small-font: 12px;

ion-title {
	text-align: left;
	padding: $padding-within-div;
	color: $white;
}

ion-toolbar {
	background: $light-blue;
}

h1 {
	font-size: 42px;
	font-weight: bold;
	color: $dark-blue;
	margin: 0;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	color: $light-blue;
	margin: 0;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

p {
	color: $grey;
}

a {
	color: $red;
}

.jumbo {
	font-size: $jumbo-font;
}

.large {
	font-size: $large-font;
}

.normal {
	font-size: $normal-font;
}

.small {
	font-size: $small-font;
}

.dark-blue {
	color: $dark-blue;
}

.light-blue {
	color: $light-blue;
}

.grey {
	color: $grey;
}

.red {
	color: $red;
}

.background-light-blue {
	background: $light-blue;
}

.font-white {
	color: $white;
}

.font-dark-blue {
	color: $dark-blue;
}

.section-padding {
	padding: $padding-btwn-section $padding-btwn-sides 0 $padding-btwn-sides;
}

.div-padding {
	padding: $padding-within-div;
}

.bottom-padding {
	padding-bottom: $padding-btwn-elements;
}

.top-padding {
	padding-top: $padding-btwn-elements;
}

.left-padding {
	padding-left: $padding-btwn-elements;
}

.right-padding {
	padding-right: $padding-btwn-elements;
}

.top-padding-side {
	padding-top: $padding-btwn-sides;
}

.right-padding-side {
	padding-right: $padding-btwn-sides;
}

.bottom-padding-side {
	padding-bottom: $padding-btwn-sides;
}

.left-padding-side {
	padding-left: $padding-btwn-sides;
}

.bottom-margin {
	margin-bottom: $margin-btwn-elements;
}

.bottom-margin-large {
	margin-bottom: $margin-btwn-section;
}

.top-margin {
	margin-top: $margin-btwn-elements;
}

.left-margin {
	margin-left: $margin-btwn-elements;
}

.right-margin {
	margin-right: $margin-btwn-elements;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

.no-top-padding {
	padding-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0;
}

.no-padding {
	padding: 0;
}

.no-left-margin {
	margin-left: 0;
}

.no-right-margin {
	margin-right: 0;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.no-margin {
	margin: 0;
}

.button-blue-white {
	background: $white;
	color: $dark-blue;
	font-size: $jumbo-font;
}

.icon-calculator {
	padding-left: 4px;
	position: absolute;;
}

.small-shadow {
	box-shadow: 1px 1px 4px 1px $grey;
}