<app-header [subTitle]="title"></app-header>

<ion-content>
  <div class="section-padding">
    <ion-select [placeholder]="'home.yourLists' | translate" class="no-left-padding" (ionChange)="selectList()" [(ngModel)]="currentChoice">
    	<ion-select-option *ngFor="let item of lists" [value]="item.id"> {{item.name | uppercase}}
    	</ion-select-option>
    </ion-select>

    <button class="top-margin div-padding button-blue-white" ion-button (click)="newList()">{{ 'home.newList' | translate }}</button>
  </div>
</ion-content>

<ion-footer>
	<ion-grid>
		<ion-row>
			<ion-col col-lg-6 class="col-footer">
				{{ 'global.contact' | translate }}
			</ion-col>
			<ion-col col-lg-6 class="col-footer">
				{{ 'global.tutorial' | translate }}
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
