<app-header [subTitle]="title"></app-header>

<ion-content>
  <div class="section-padding">
    <ion-select [placeholder]="'home.yourLists' | translate" class="no-left-padding" (ionChange)="selectList()" [(ngModel)]="currentChoice">
    	<ion-select-option *ngFor="let item of lists" [value]="item.id"> {{item.name | uppercase}}
    	</ion-select-option>
    </ion-select>

    <button class="top-margin button-blue-white-border" ion-button (click)="newList()">{{ 'home.newList' | translate }}</button>
  </div>
</ion-content>

<app-footer></app-footer>
